<header id="cityList">
  <div id="listTile">
  Choose a City.
  </div>
  {{input id="listInput" type="text" value=typeCity}}
  <button id="cancel" {{action 'back'}}>Cancel</button>
</header>
<div class="listBody">
   {{#if cityList}}
     {{#each cityList}}
      <li class="subList" {{action 'addCity' id}}><div>{{displayName}}</div></li>
      {{/each}}
   {{else}}
    <p>{{displayMsg}}</p>
    {{/if}}
</div>