<div id="selected-city">
  <section id="city-header">
    <h2>{{name}}</h2>
    <h4>{{summary}}</h4>
    <h1>{{format-temperature hourly.temperature unitParam=useUSUnits}}</h1>
  </section>
  <section id="today">
    <ul class="today-overview">
      <li>
        {{week-day localDate}}
      </li>
      <li>
        {{relativeDate}}
      </li>
      <li>
        {{format-temperature daily.temperatureMax unitParam=useUSUnits}}
      </li>
      <li>
        {{format-temperature daily.temperatureMin unitParam=useUSUnits}}
      </li>
    </ul>
    <div class="today-hourly-list-container">
      <ul class="today-hourly-list" {{bind-attr style=hourlyListWidth}}>
      {{#with useUSUnits as usUnitAlias}}
        {{#each forecast in hourlyData}}
          <li>
            <ul>
              <li>
                {{!-- {{log forecast.first}} --}}
                {{#if forecast.first}}
                  Now
                {{else}}
                  {{format-time (local-date forecast.time offset=weatherData.offset) showMinutes=false}}
                {{/if}}
              </li>
              <li>
                <img {{bind-attr src=forecast.icon}}/>
              </li>
              <li>
                {{format-temperature forecast.temperature unitParam=usUnitAlias}}
              </li>
            </ul>
          </li>
        {{/each}}
      {{/with}}
      </ul>
    </div>
  </section>
  <section id="forecast">
    <ul class="forecast-list">
      {{#with useUSUnits as usUnitAlias}}
        {{#each forecast in dailyData}}
          <li>
            <ul>
              <li>
                {{!-- this.weekDayForDate(dailyForecastDate) --}}
                {{week-day (local-date forecast.time offset=weatherData.offset)}}
              </li>
              <li>
                <img {{bind-attr src=forecast.icon}}/>
              </li>
              <li>
                {{format-temperature forecast.temperatureMax unitParam=usUnitAlias}}
              </li>
              <li>
                {{format-temperature forecast.temperatureMin unitParam=usUnitAlias}}
              </li>
            </ul>
          </li>
        {{/each}}
      {{/with}}
    </ul>
  </section>
  <section id="today-details">
    <p class="today-summary">
      {{weatherData.daily.summary}}
    </p>
    <ul class="today-details-list">
      <li>
        <ul>
          <li>
            Sunrise:
          </li>
          <li>
            {{format-time (local-date daily.sunriseTime offset=weatherData.offset) showMinutes=true}}
          </li>
        </ul>
      </li>
      <li>
        <ul>
          <li>
            Sunset:
          </li>
          <li>
            {{format-time (local-date daily.sunsetTime offset=weatherData.offset) showMinutes=true}}
          </li>
        </ul>
      </li>
      <li>
        <ul>
          <li>
          </li>
          <li>
          </li>
        </ul>
      </li>
      <li>
        <ul>
          <li>
            {{precipType}}
          </li>
          <li>
            {{format-percentage hourly.precipProbability}}
          </li>
        </ul>
      </li>
      <li>
        <ul>
          <li>
            Humidity:
          </li>
          <li>
            {{format-percentage hourly.humidity}}
          </li>
        </ul>
      </li>
      <li>
        <ul>
          <li>
          </li>
          <li>
          </li>
        </ul>
      </li>
      <li>
        <ul>
          <li>
            Wind:
          </li>
          <li>
            {{format-wind hourly unitParam=useUSUnits formatBearing=formatBearing}}
            {{!-- this.formatWind(currentConditions) --}}
          </li>
        </ul>
      </li>
      <li>
        <ul>
          <li>
            Feels like:
          </li>
          <li>
            {{format-temperature hourly.apparentTemperature unitParam=useUSUnits}}
          </li>
        </ul>
      </li>
      <li>
        <ul>
          <li>
          </li>
          <li>
          </li>
        </ul>
      </li>
      <li>
        <ul>
          <li>
            Precipitation:
          </li>
          <li>
            {{format-precipitation hourly.precipIntensity unitParam=useUSUnits}}
          {{!-- this.formatPrecipitation(currentConditions.precipIntensity) --}}
          </li>
        </ul>
      </li>
      <li>
        <ul>
          <li>
            Pressure:
          </li>
          <li>
            {{format-pressurefromhpa hourly.pressure unitParam=useUSUnits}}
          {{!-- this.formatPressureFromHPA(currentConditions.pressure) --}}
          </li>
        </ul>
      </li>
      <li>
        <ul>
          <li>
          </li>
          <li>
          </li>
        </ul>
      </li>
      <li>
        <ul>
          <li>
            Visibility:
          </li>
          <li>
            {{format-visibility hourly.visibility unitParam=useUSUnits}}
            {{!-- this.formatVisibilty(currentConditions.visibility) --}}
          </li>
        </ul>
      </li>
    </ul>
  </section>
</div>
<nav {{bind-attr class=conditionClassname}}>
  <ul>
    <div {{bind-attr class=":celsius-or-fahrenheit useUSUnits:use-fahrenheit:use-celsius"}}>
      <a {{action 'toggleUnits'}}>
        <span class="celsius">˚C</span>
         ⁄
        <span class="fahrenheit">˚F</span>
      </a>
    </div>
    {{#if pagination.showPagination}}
    <div class="next-prev-nav">
      <div {{bind-attr class=":prev-button pagination.prevCityId::disabled"}}>
        {{#if pagination.prevCityId}}
          {{#link-to 'city' pagination.prevCityId}}◀{{/link-to}}
        {{else}}
          {{#link-to 'city' id}}◀{{/link-to}}
        {{/if}}
      </div>
      <div class="indicator-dots">
        {{#each dot in pagination.dots}}
          <span {{bind-attr class=":dot dot:current"}}>
            •
          </span>
        {{/each}}
      </div>
      <div {{bind-attr class=":next-button pagination.nextCityId::disabled"}}>
        {{#if pagination.nextCityId}}
          {{#link-to 'city' pagination.nextCityId}}▶{{/link-to}}
        {{else}}
          {{#link-to 'city' id}}▶{{/link-to}}
        {{/if}}
      </div>
    </div>
    {{/if}}
    <div class="list-button">
      {{#link-to 'index'}}☰{{/link-to}}
    </div>
  </ul>
</nav>