<div id="cities-list">
  <ul>
    {{#each}}
      <li {{bind-attr class=conditionClassname}}>
      {{!-- {{log conditionClassname}} --}}
        {{#link-to 'city' id}}
        <ul>
          <li class="city-info">
            <div class="time">
              {{!-- this.formatTime(this.getLocalDate(city.weatherData.currently.time, city.weatherData.offset, new Date().getTime() - city.lastUpdated), true),  --}}
              {{format-time (local-date weatherData.currently.time offset=weatherData.offset) showMinutes=true}}
            </div>
            <div class="city-name">
              {{name}}
            </div>
          </li>
          <li class="temperature">
            {{!-- this.formatTemperature(conditionsNow.temperature) --}}
            {{!-- {{formatTemperature}} --}}
            {{format-temperature hourly.temperature}}
          </li>
        </ul>
       {{/link-to}}
      </li>
    {{/each}}
  </ul>
</div>
<nav>
  <ul></ul>
</nav>