<div id="cities-list">
  <ul>
    {{#with useUSUnits as usUnitAlias}}
    {{#each}}
      <li {{bind-attr class=conditionClassname}}>
        {{#link-to 'city' id}}
        <ul>
          <li class="city-info">
            <div class="time">
              {{format-time (local-date weatherData.currently.time offset=weatherData.offset since=sinceLastRefresh) showMinutes=true}}
            </div>
            <div class="city-name">
              {{name}}
            </div>
          </li>
          <li class="temperature">
            {{format-temperature hourly.temperature unitParam=usUnitAlias}}
            {{!-- {{log usUnitAlias}} --}}
          </li>
        </ul>
       {{/link-to}}
      </li>
    {{/each}}
    {{/with}}
  </ul>
</div>
<nav>
  <ul>
    <a class="attribution" href="http://forecast.io/" target="_blank">Powered by Forecast</a>
    <div {{bind-attr class=":celsius-or-fahrenheit controller.useUSUnits:use-fahrenheit:use-celsius"}}>
      <a {{action 'toggleUnits'}}>
        <span class="celsius">˚C</span>
        ⁄
        <span class="fahrenheit">˚F {{format-temperature temperature unitParam=controller.useUSUnits}}</span>
        {{!-- <span> {{format-temperature temperature unitParam=controller.useUSUnits}}</span> --}}
      </a>
    </div>
  </ul>
</nav>