<div id="cities-list">
  <ul>
    {{#with useUSUnits as usUnitAlias}}
    {{#each model}}
      <li {{bind-attr class=conditionClassname}}>
        {{#link-to 'city' id disabled=controller.isEditing}}
        <ul>
          <li class="city-info">
            <div {{action 'delete' id}} {{bind-attr class="controller.isEditing:circle:noncircle"}}>
             <div id="dash"></div>
            </div>
            {{!-- <div class="time"> --}}
            <div {{bind-attr class="controller.isEditing:time-edit:time"}}>
              {{format-time (local-date weatherData.currently.time offset=weatherData.offset since=sinceLastRefresh) showMinutes=true}}
            </div>
            {{!-- <div class="city-name"> --}}
            <div {{bind-attr class="controller.isEditing:city-name-edit:city-name"}}>
              {{name}}
            </div>
          </li>
          <li class="temperature">
            {{format-temperature hourly.temperature unitParam=usUnitAlias}}
          </li>
        </ul>
       {{/link-to}}
      </li>
    {{/each}}
    {{/with}}
  </ul>
</div>
<nav>
  <ul>
    <button class="edit-title"{{action 'editCity'}}>
      {{#if isEditing}}
        {{!-- <strong>Done</strong> --}}
        Done
      {{else}}
      Edit
      {{/if}}
    </button>
    <a class="attribution" href="http://forecast.io/" target="_blank">Powered by Forecast</a>
    <div {{bind-attr class=":celsius-or-fahrenheit controller.useUSUnits:use-fahrenheit:use-celsius"}}>
      <a {{action 'toggleUnits'}}>
        <span class="celsius">˚C</span>
        ⁄
        <span class="fahrenheit">˚F {{format-temperature temperature unitParam=controller.useUSUnits}}</span>
        {{!-- <span> {{format-temperature temperature unitParam=controller.useUSUnits}}</span> --}}
      </a>
    </div>
    <button class="plus"{{action 'addcity'}}>+</button>
  </ul>
</nav>